<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} Simanauskaite's Pizzas </title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
</head>

    <body>
        <h1>Simanauskaite's Pizzas</h1>
        {% for order in orders %}
        <div id="orders">
            <a href="http://127.0.0.1:4999/orders/0">
                <p id="order-text">
                    {{ order.customer_name }} <br> {{ order.date }} <br><br> <i>click for order details</i>
                    
                </p>
            </a>        
        </div>
        {% endfor %}
    </body>
</html>